html {
    background-color: rgb(72, 153, 242);
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    background-color: rgb(180, 180, 180);
    display: block;
    margin: 50px auto; /* 상단 50px, 하단 50px 간격 설정 및 가로 중앙 정렬 */
}
